*{
    overflow: hidden;
}
.slick-slider {
    max-height: 40px;
}

.slick-track {
    height: 40px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    margin: 20px auto 0px auto;
    width: 100%;
    height: auto;
}

.carousel {
    width: 100%;
    margin: 0;
    margin: 0px 50px 0px 50px;
    padding-left: 50px;
    padding-right: 50px;
}